/*
Same as the one used in index.html, but this is how it is required by the assignment
*/

.centered {
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: block;
}

/*
Enforces image to have a fixed width
 */

.small-image {
    width: 250px;
    /* height is auto by default */
}

.large-image {
    width: 750px;
}

/*
Fixes centering ul within a div
 */

ul {
    display: inline-block;
    text-align: left;
}

body {
    padding-left: 100px;
    padding-right: 100px;
}

.point {
    fill: orange;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
}

.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.donutArcs:hover {
    opacity: 0.5;
}

.donutTitles {
    width: 400px;
    display: inline-block;
}