.centered {
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: block;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.container {
    margin-left: 7%;
    margin-right: 7%;
}

svg {
    width: 100%;
    display: block;
    flex: 1 1 auto;
}

/*
 * Tree-specific styles
 */
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.parent, .node circle {
    fill: black;
    stroke: black;
    stroke-width: 0.5px;
}

.node text {
    font: 10pt sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
