/* General */
.centered {
    text-align: center;
    align-content: center;
    margin: 0 auto;
    display: block;
}

body {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.link {
    cursor: pointer;
}

.abs-tooltip {
    display: none;
    position: absolute;
}
/* Assignment specific */

#map {
    width: 100%;
    min-height: 500px;
}